:root {
    --blue: #24A7CE;
    --white: #ffffff;
    --purple: #5046DD;
    --light-green: #03F6BF;
    --green: #16D6AD;
    --card-bg-color: #ffe6cc;
    --card-border-radius: 10px;
    --card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    background: linear-gradient(to top left, var(--purple), var(--light-green));
    background-size: 400% 400%;
    animation: gradientBg 9s ease infinite;
}

@keyframes gradientBg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.logo {
    margin-right: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4)); /* Filtro de sombra */
  }